{{- if (and .Values.openshift.enabled .Values.installCRDs) -}}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektonaddons.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonAddon
    listKind: TektonAddonList
    plural: tektonaddons
    singular: tektonaddon
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektonaddons API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektonchains.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonChain
    listKind: TektonChainList
    plural: tektonchains
    singular: tektonchain
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the TektonChains API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektonconfigs.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonConfig
    listKind: TektonConfigList
    plural: tektonconfigs
    singular: tektonconfig
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektonconfigs API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektonhubs.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonHub
    listKind: TektonHubList
    plural: tektonhubs
    singular: tektonhub
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
        - jsonPath: .status.apiUrl
          name: ApiUrl
          type: string
        - jsonPath: .status.uiUrl
          name: UiUrl
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektonhubs API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektoninstallersets.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonInstallerSet
    listKind: TektonInstallerSetList
    plural: tektoninstallersets
    singular: tektoninstallerset
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektoninstallerset API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektonpipelines.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonPipeline
    listKind: TektonPipelineList
    plural: tektonpipelines
    singular: tektonpipeline
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektonpipelines API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    operator.tekton.dev/release: v0.64.0
    version: v0.64.0
  name: tektontriggers.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonTrigger
    listKind: TektonTriggerList
    plural: tektontriggers
    singular: tektontrigger
  preserveUnknownFields: false
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.version
          name: Version
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - jsonPath: .status.conditions[?(@.type=="Ready")].message
          name: Reason
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Schema for the tektontriggers API
          type: object
          x-kubernetes-preserve-unknown-fields: true
      served: true
      storage: true
      subresources:
        status: {}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: openshift-pipelines-operator
  namespace: openshift-operators
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: openshift-operator-read
  namespace: openshift-operators
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/instance: default
  name: tekton-operator-info
  namespace: openshift-operators
rules:
  - apiGroups:
      - ""
    resourceNames:
      - tekton-operator-info
    resources:
      - configmaps
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tekton-config-read-role
rules:
  - apiGroups:
      - operator.tekton.dev
    resources:
      - tektonconfigs
    verbs:
      - get
      - watch
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tekton-operator
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
      - pods/log
      - limitranges
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - extensions
      - apps
    resources:
      - ingresses
      - ingresses/status
    verbs:
      - delete
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
      - deployments/finalizers
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - roles
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
      - bind
      - escalate
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
      - impersonate
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
      - rolebindings
    verbs:
      - get
      - create
      - update
      - delete
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
      - customresourcedefinitions/status
    verbs:
      - get
      - create
      - update
      - delete
      - list
      - patch
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - build.knative.dev
    resources:
      - builds
      - buildtemplates
      - clusterbuildtemplates
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - extensions
    resources:
      - deployments
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - extensions
    resources:
      - deployments/finalizers
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - get
      - create
      - update
      - delete
      - use
  - apiGroups:
      - operator.tekton.dev
    resources:
      - '*'
      - tektonaddons
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - tekton.dev
      - triggers.tekton.dev
      - operator.tekton.dev
    resources:
      - '*'
    verbs:
      - add
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - dashboard.tekton.dev
    resources:
      - '*'
      - tektonaddons
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - use
      - get
      - create
      - update
      - delete
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch
  - apiGroups:
      - console.openshift.io
    resources:
      - consoleyamlsamples
      - consoleclidownloads
      - consolequickstarts
      - consolelinks
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - delete
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - delete
      - deletecollection
      - create
      - patch
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces/finalizers
    verbs:
      - update
  - apiGroups:
      - resolution.tekton.dev
    resources:
      - resolutionrequests
    verbs:
      - get
      - list
      - watch
      - create
      - delete
{{- end -}}
