apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    operator.tekton.dev/release: v0.75.0
    version: v0.75.0
  name: tektonresults.operator.tekton.dev
spec:
  group: operator.tekton.dev
  names:
    kind: TektonResult
    listKind: TektonResultList
    plural: tektonresults
    singular: tektonresult
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.version
      name: Version
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].message
      name: Reason
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Schema for the TektonResults API
        type: object
        x-kubernetes-preserve-unknown-fields: true
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
