apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/instance: default
  name: tekton-operator-info
rules:
- apiGroups:
  - ""
  resourceNames:
  - tekton-operator-info
  resources:
  - configmaps
  verbs:
  - get
