name: Release Charts

on:  # yamllint disable-line rule:truthy
  push:
    tags: ["v*"]

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'tektoncd'  # do not run this elsewhere
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "tekton-robot"
          git config user.email "dlorenc+tekton@google.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4  # v4.3.1
        with:
          version: v3.8.1

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f  # v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
